* {
  font-family: "Share Tech Mono", monospace;
}

#board,
.boardInfo {
  max-width: 500px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
}
.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: #21bcff;
}

#scoreboard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #7ccf35;
}

.sankeSquare {
  background-color: #2b7fff;
}

.foodSquare {
  background-color: #fb2c36;
}
